body {
  background-image: url("../images/grey-texture.jpg");
  font-family: Georgia, "Times New Roman", Times, serif;
}
.navbar {
  background-color: white;
  border-bottom: 2px grey solid;
  padding: 0 60px;
  margin: 0;
  height: 80px;
}

.navbar h1 {
  color: white;
  background: #4aaaa5;
  margin: 0;
  padding: 15px 15px;
}

.navbar a {
  color: #9fadc1;
  font-size: 20px;
  padding: 0 15px;
}

/* select all links in navbar except last link */
.navbar a:not(:last-child) {
  border-right: 1px #9fadc1 solid;
}

.container-fluid {
  padding-top: 30px;
  padding-left: 60px;
}

.card {
  width: 70%;
  padding: 0 30px 30px 30px;
  line-height: 3em;
}

.card h1 {
  color: #4aaaa5;
  border-bottom: 2px #e8e8e8 solid;
  margin-bottom: 30px;
  height: 80px;
  line-height: 80px;
}

.fixed-bottom {
  background: #666666;
  border-top: 8px #4aaaa5 solid;
  text-align: center;
  height: 80px;
  color: #979c9b;
}

.top-buffer {
  margin-top: 16px;
}

/* .right-buffer {
  padding-right: 16px;
} */

.bottom-buffer {
  margin-bottom: 10px;
}

#image-text {
  padding-left: 16px;
}
