body {
  /* the following 3 codes to make body fill the screen */
  min-height: 100vh;
  position: relative;
  margin: 0;
  background-image: url("../images/grey-texture.jpg");
  font-family: Georgia, "Times New Roman", Times, serif;
}
.navbar {
  background-color: white !important;
  border-bottom: 2px grey solid !important;
  padding: 0 60px !important;
  margin: 0 !important;
}

.navbar-brand {
  color: white !important;
  background: #4aaaa5 !important;
  margin: 0 !important;
  padding: 15px 15px !important;
  font-size: 2.5rem !important;
  line-height: 1.2 !important;
}

.navbar a {
  color: #9fadc1;
  font-size: 20px;
  padding: 0 15px;
}

/* select all links in navbar except last link
.navbar-nav li:not(:last-of-type) a {
  border-right: 1px #9fadc1 solid !important;
} */

.cont {
  padding-top: 30px;
  padding-left: 60px;
  padding-bottom: 110px;
}

.card {
  width: 70%;
  padding: 0 30px 30px 30px;
  line-height: 3em;
}

.card h1 {
  color: #4aaaa5;
  border-bottom: 2px #e8e8e8 solid;
  margin-bottom: 30px;
  height: 80px;
  line-height: 80px;
}

.fixedbottom {
  /* the following 2 codes to make footer sticky at the bottom */
  position: absolute;
  bottom: 0;
  background: #666666;
  border-top: 8px #4aaaa5 solid;
  text-align: center;
  height: 80px;
  color: #979c9b;
  line-height: 80px;
  vertical-align: middle;
  width: 100%;
  margin: 0;
  padding: 0;
}

.top-buffer {
  margin-top: 16px;
}

.bottom-buffer {
  margin-bottom: 10px;
}

#image-text {
  padding-left: 16px;
}

.overlay {
  position: absolute;
  bottom: 10%;
  right: 15px;
  left: 15px;
  background-color: #4aaaa5;
  color: white;
  font-size: 1.5em;
}

form {
  color: #a08f97;
}

.btn-primary {
  background-color: #4aaaa5;
  border: 1px solid white;
}

/* .project-img {
  max-width: 800px;
  max-height: 800px;
} */

@media only screen and (min-width: 1057px) and (max-width: 1456px) {
  .overlay {
    font-size: 1em;
  }
}

@media only screen and (max-width: 1057px) {
  .overlay {
    font-size: 0.8em;
  }
}
