body {
  overflow: scroll;
  min-height: 100vh;
  position: relative;
  margin: 0;
  background-image: url("../images/grey-texture.jpg");
  font-family: Georgia, "Times New Roman", Times, serif;
}
.navbar {
  background-color: white;
  border-bottom: 2px grey solid;
  padding: 0 60px;
  margin: 0;
  /* height: 80px; */
}

.navbar h1 {
  color: white;
  background: #4aaaa5;
  margin: 0;
  padding: 15px 15px;
}

.navbar a {
  color: #9fadc1;
  font-size: 20px;
  padding: 0 15px;
}

/* select all links in navbar except last link */
.navbar a:not(:last-child) {
  border-right: 1px #9fadc1 solid;
}

.cont {
  padding-top: 30px;
  padding-left: 60px;
  padding-bottom: 110px;
}

.card {
  width: 70%;
  padding: 0 30px 30px 30px;
  /* margin-bottom: 30px; */
  line-height: 3em;
}

.card h1 {
  color: #4aaaa5;
  border-bottom: 2px #e8e8e8 solid;
  margin-bottom: 30px;
  height: 80px;
  line-height: 80px;
}

.fixedbottom {
  position: absolute;
  bottom: 0;
  background: #666666;
  border-top: 8px #4aaaa5 solid;
  text-align: center;
  height: 80px;
  color: #979c9b;
  line-height: 80px;
  vertical-align: middle;
  width: 100%;
  margin: 0;
  padding: 0;
}

.top-buffer {
  margin-top: 16px;
}

/* .right-buffer {
  padding-right: 16px;
} */

.bottom-buffer {
  margin-bottom: 10px;
}

#image-text {
  padding-left: 16px;
}

.overlay {
  position: absolute;
  bottom: 10%;
  right: 15px;
  left: 15px;
  background-color: #4aaaa5;
  color: white;
  text-align: center;
}

@media only screen and (min-width: 1057px) and (max-width: 1456px) {
  .overlay {
    font-size: 10px;
  }
}

@media only screen and (max-width: 1057px) {
  .overlay {
    font-size: 4px;
  }
}
